<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{email/base :: emailLayout(~{::section})}">

    ```
    <section>
        <p>Hello <span th:text="${name}"></span>,</p>

        <p>Your SwipeAuctions account password has been changed successfully.</p>

        <p>If you did not make this change, please contact support immediately.</p>

        <p>
            <strong>Time:</strong>
            <span th:text="${changedAt}"></span>
        </p>

        <p>
            Regards,<br>
            <strong>SwipeAuctions Team</strong>
        </p>
    </section>
    ```
</div>

</body>
</html>